.bg{
	
	background-image:url("bgg.png");
	background-size: cover;
width : -1500%;
height : -1500%;
	
}

mark
{
 background-color: #cdcdcd;

}

button{
	color:#88c988;
	border:0px;
	width:90px;
	height:30px;
	background-color:08181e;
	border-radius:3px;
	padding:5px;
	margin-left: 40px;
}

.text{
	margin-top:-5px;
	color:#9a9a9a;
	float:left;
		margin-left:10px;
		padding-left: 20px;
}
.Bienvenu
{
	font-size:55px;
	color: white;
	margin-left:635px;
    margin-top: 140px;
}

.Formation
{
	font-size:60px;
	color: black;
	margin-left:100px;
    margin-top: 180px;
}

.Contact
{
	font-size:60px;
	color: black;
	margin-left:1150px;
    margin-top: -130px;
}

h1{
	text-align:center;
	color:#f0ad73;
}
h2{
	color:#7abce0;
	font-size: 30px;
}
p{
	font-size:19px;
color:white;
}
.imgme{
	width:50%;
	height:80%;
	border-radius:50px;
	border:4px solid black;
	margin-left:20px;
}

#lightlayer{
	margin:50px auto;
	width:1000px;
	height:565px;
	background-color:rgba(0,0,0,0.5);
}
.block1{

	margin-top:-40px;
	width:500px;
	height:300px;
	float:left;
}
.block2{
	margin-top:-20px;
	width: 400px;
	height:400px;
	float:left;
	margin-left:50px;
}
.cv{
	float:left;
	margin-left:-535px;
	margin-top:-95px;
}

.windowbar {

    background-color: black;
    height: 30px;
    width: 1000px;
    margin-left: 241px;
    position:absolute;
    padding-bottom: 10px;
    left: 19px;
    margin-top: -35px;

}

table
{
 margin-top: -165px;
 left: 300px;
 position: absolute;
 text-align: center;
 border: transparent;
 font-size: 25px;
}
.Contactpage
{

	background-color: #e4e5e6;
}

.date
{

	margin-top: 200px;
	margin-left:590px;
}

.radio
{

	margin-top: -220px;
	margin-left: 35px;
    color: #512785;
    font-size: 30px;
    position:absolute;
}
.textradio
{

	color: #884858;
	font-size: 30px;
	margin-top: -260px;
	position: absolute;
	margin-left: 40px;
}

.imgmap{
	width:-450%;
	border-radius:50px;
	border:4px solid black;
	margin-left:50px;
	margin-top: 60px;
}

progress
{
	margin-top: -100px;
	margin-left: 1040px;
}

.textprogress
{
	margin-top: -107px;
	margin-left: 865px;	
	font-size: 25px;
	color: #d9ffdec4;
}

.corps-element h1{
	color:#878786;
}

.corps-element{
	display: inline-block;
	padding-left: 9%;
}

.corps-element input,textarea{

	padding:9%;
	border:1px solid #212F3D;
}
textarea{
	height:100px;
}

.gifpc
{

	margin-left: 70px;
}

.imgaccueil
{
width: 100px;
margin-top: 580px;
position: absolute;
margin-left: -1400px;
}
.imgformation
{
width: 200px;
margin-top: 530px;
position: absolute;
margin-left: -110px;
}

.imgforma
{
width: 200px;
position: absolute;
margin-top: -50px;
margin-left: 1300px;
}

.imgacc
{
width: 100px;
position: absolute;
margin-top: 0;
margin-left: 35px;
}

.datecreation
{
text-align: center;

}

.imgemail
{
width: 100px;
position: absolute;
margin-top: 10;
margin-left: 635px;
}

.imgphone
{
width: 70px;
position: absolute;
margin-top: 460px;
margin-left: -490px;

}

.numphone
{
position: absolute;
margin-left: 150px;
margin-top: 10px;
font-size: 40px;
color: #d37600;;	
}